<a href="https://colab.research.google.com/github/AaronRM9416/Core-Classwork/blob/main/Feature_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aaron Musselwhite

9/22/22

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA

# 1. Import the data the drop the 'casual' and 'registered' columns.  These are redundant with your target, 'count'.

In [ ]:
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vTO1sOJqtgH9_mMFTEKHdJuVXxIFr2J4nzym1fG8RCbBQqG_hiI-MbLaQShVBaSIdcDL9Aqrvp7GLB-/pub?output=csv')
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 0:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 1:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 2:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 3:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 4:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [ ]:
df.duplicated().any()

False

In [ ]:
df.isna().sum()

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

In [ ]:
df= df.drop(columns=['casual','registered'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   count       10886 non-null  int64
dtypes: float64(3), int64(6), object(1)
memory usage: 850.6+ KB

2. Transform the 'datetime' column into a datetime type and use it to create 3 new columns in the data frame containing the:

  1. Name of the Month
  2. Name of the Day of the Week
  3. Hour of the Day

   Make sure all 3 new columns are 'object' datatype so they can be one-hot encoded later.  

   Drop the 'datetime' and 'season' columns.  These are now redundant.

In [ ]:
df['datetime'] = pd.to_datetime(df['datetime'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  datetime64[ns]
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   count       10886 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(6)
memory usage: 850.6 KB

In [ ]:
df['month'] = df['datetime'].dt.month_name()
df['hour of day (name)'] = df['datetime'].dt.hour()
df['day of week'] = df['datetime'].dt.day_name()
df.head()

KeyError: ignored

In [ ]:
df = df.drop(['datetime','season'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   holiday             10886 non-null  int64
 1   workingday          10886 non-null  int64
 2   weather             10886 non-null  int64
 3   temp                10886 non-null  float64
 4   atemp               10886 non-null  float64
 5   humidity            10886 non-null  int64
 6   windspeed           10886 non-null  float64
 7   count               10886 non-null  int64
 8   month               10886 non-null  object
 9   hour of day (name)  10886 non-null  object
 10  day of week         10886 non-null  object
dtypes: float64(3), int64(5), object(3)
memory usage: 935.6+ KB

# 3. The temperatures in the 'temp' and 'atemp' column are in Celsius.  Use `.apply()` to convert them to Fahrenheit.

In [ ]:
lambda x: 9/5*x+32
df['temp'] = df['temp'].apply(lambda x: 9/5*x+32)
df['atemp'] = df['atemp'].apply(lambda x: 9/5*x+32)
df.head()

,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,month,hour of day (name),day of week
0,0,0,1,49.712,57.911,81,0.0,16,January,Saturday,Saturday
1,0,0,1,48.236,56.543,80,0.0,40,January,Saturday,Saturday
2,0,0,1,48.236,56.543,80,0.0,32,January,Saturday,Saturday
3,0,0,1,49.712,57.911,75,0.0,13,January,Saturday,Saturday
4,0,0,1,49.712,57.911,75,0.0,1,January,Saturday,Saturday

#4. Create a new column, 'temp_variance' that is the difference between 'temp' and 'atemp'.  Drop the 'atemp' column.

In [ ]:
df['temp_variance'] = df['temp'] - df['atemp'] 
df = df.drop(['atemp'], axis=1)
df.head()

,holiday,workingday,weather,temp,humidity,windspeed,count,month,hour of day (name),day of week,temp_variance
0,0,0,1,49.712,81,0.0,16,January,Saturday,Saturday,-8.199
1,0,0,1,48.236,80,0.0,40,January,Saturday,Saturday,-8.307
2,0,0,1,48.236,80,0.0,32,January,Saturday,Saturday,-8.307
3,0,0,1,49.712,75,0.0,13,January,Saturday,Saturday,-8.199
4,0,0,1,49.712,75,0.0,1,January,Saturday,Saturday,-8.199