<a href="https://colab.research.google.com/github/AaronRM9416/Core-Classwork/blob/main/project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Project 2

9/2

Aaron Musselwhite

In [2]:
import pandas as pd

In [5]:
LordSeventh= pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vTtg0jM-lgRygpu-gbAcdMCmqa6DxOXmLOUkGJ5WTl7Hq604SPgrIJkPtuHfD3AuLOsq_x0Y-1D7gUn/pub?output=csv')
LordSeventh.head()

,Unnamed: 0,Num_episode,Title,Type,Year_launch,Rate,Votes,Saga,Airdate
0,1,1,Homecoming,Mixed Canon/Filler,2007,8.2,728,s1 Kazekage Rescue,2007-02-15
1,2,2,The Akatsuki Makes Its Move,Mixed Canon/Filler,2007,8.0,575,s1 Kazekage Rescue,2007-02-15
2,3,3,The Results of Training,Mixed Canon/Filler,2007,8.0,508,s1 Kazekage Rescue,2007-02-22
3,4,4,The Jinchuriki of the Sand,Mixed Canon/Filler,2007,8.2,517,s1 Kazekage Rescue,2007-03-01
4,5,5,The Kazekage Stands Tall,Mixed Canon/Filler,2007,8.2,486,s1 Kazekage Rescue,2007-03-15

In [6]:
LordSeventh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   500 non-null    int64
 1   Num_episode  500 non-null    int64
 2   Title        500 non-null    object
 3   Type         500 non-null    object
 4   Year_launch  500 non-null    int64
 5   Rate         500 non-null    float64
 6   Votes        500 non-null    int64
 7   Saga         500 non-null    object
 8   Airdate      500 non-null    object
dtypes: float64(1), int64(4), object(4)
memory usage: 35.3+ KB

1) Source of data
kaggle

2) Brief description of data
This data set is from my favorite anime Naruto. Specifically the second series they did.

3) What is the target?
Whether it is canon or not (apart of the main story)

4) Is this a classification or regression problem?
classification

5) How many features? 9

6) How many rows of data.
500

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?
some of the episodes have a mixture of filler vs canon

In [7]:
games= pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRJiyV_o3XPU0pvlMVCM8JrlpXl2hcP1hezOnFBGLQWZq3G0COBwVyOuakBhv31Lt9cgU18RSyBQpWp/pub?output=csv')
games.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       7590 non-null   float64
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(10), object(6)
memory usage: 2.0+ MB



1) Source of data
kaggle

2) Brief description of data
this is a list of gaming data including the platform, the year, the publisher and more

3) What is the target?
what platform they are on

4) Is this a classification or regression problem? classification

5) How many features? 16

6) How many rows of data. 16k

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset? its a lot of data